@use "../abstracts/globals";
@use "../abstracts/colors";
@use "../abstracts/breakpoints";
@use "../base/containers";

@use "../components/progressBar";
@use "../components/buttons";

#bookingFormPageWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/static/mysite/images/booking-form-background.png"),
    -webkit-linear-gradient(bottom, colors.$darkRed, #b4b4b4);
}

.container {
  @extend %container-col--centered;
  padding: 1em;
  height: 100vh;
  background: colors.$white;
  font-size: 1em;
  font-family: "Poppins", sans-serif;

  .header {
    font-size: 2em;
    font-weight: 600;
  }

  .progress-bar {
    @include progressBar.progress-bar;
  }

  .form-outer {
    flex-grow: 1;
    width: 100%;
    margin-top: 1em;
    overflow: hidden;

    .form {
      display: flex;
      width: 400%;
      height: 100%;

      .services {
        flex-grow: 1;
        position: relative;
        width: 100%;
        height: 78%;
        overflow: auto;
        scroll-behavior: smooth;
        color: colors.$white;
        margin-bottom: 1em;

        background-image: linear-gradient(
            to right,
            hsla(0, 0%, 0%, 1),
            hsla(0, 0%, 45%, 0.8)
          ),
          url(/static/mysite/images/booking-form-service-background.jpg);
        background-size: cover;
        background-blend-mode: darken;

        &__service {
          list-style: none;
          width: max-content;
          margin: 1em;
          padding: 0.4em;
          border-radius: 0.2em;
          background: rgba(colors.$gray, 0.7);
          transition: background-color 150ms ease, text-shadow 150ms ease;

          &:hover {
            text-shadow: 1px 1px 1px colors.$gray;
            background: lighten(colors.$gray, 10%);
          }
        }
      }

      .calendar {
        flex-grow: 1;
        @extend %container-col;
        max-height: 72%;
        font-family: Verdana, sans-serif;

        &__month {
          flex-grow: 2;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background: colors.$darkRed;

          .display-month,
          .display-year {
            margin-right: 0.6em;
            letter-spacing: 3px;
            font-size: 1em;
            text-transform: uppercase;
            color: colors.$white;
          }

          %button-go-to-month {
            position: absolute;
            width: 3em;
            height: 100%;
            top: 0;

            color: colors.$white;
            background-color: colors.$darkRed;
            border: none;
            transition-property: background-color, color;
            transition-duration: 500ms;
            transition-timing-function: ease;

            &:hover {
              cursor: pointer;
              width: 3.2em;
              background-color: colors.$lightestGray;
              color: colors.$gray;
            }
          }

          .next-month {
            @extend %button-go-to-month;
            right: 0;

            &.fadeIn {
              animation: fadeIn 500ms;
            }
            &.fadeOut {
              animation: fadeOutNext 500ms;
            }
          }

          .previous-month {
            @extend %button-go-to-month;
            left: 0;

            &.fadeIn {
              animation: fadeIn 500ms;
            }

            &.fadeOut {
              animation: fadeOutPrev 500ms;
            }
          }
        }
        &__weekdays {
          flex-grow: 1;
          display: inline-grid;
          grid-template-columns: repeat(7, 1fr);
          background-color: colors.$lightestGray;

          .weekday {
            display: flex;
            justify-content: center;
            align-items: center;
            color: colors.$lightGray;
            font-size: 1em;
          }
        }
        &__days {
          flex-grow: 4;
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: repeat(5, 1fr);
          column-gap: 0.125em;
          row-gap: 0.125em;

          * {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0.0625em solid colors.$midLightGray;
            background-color: colors.$white;
            color: colors.$lightGray;
            transition: border-color 250ms ease-in-out;
            animation: createButton 500ms forwards;

            &.active {
              background-color: colors.$darkPurple;
              border-color: colors.$darkPurple;
              color: colors.$white;
            }
            &:hover {
              cursor: pointer;
              border-color: colors.$darkPurple;
            }
          }
        }
      }

      &__page {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 25%;
        height: 100%;
        transition: margin-left 0.3s ease-in-out;

        .hint {
          font-style: italic;
        }
        .field {
          position: relative;
          width: 100%;

          .label {
            font-weight: 500;
            margin-bottom: 0.4em;
          }
          .control {
            width: 100%;
            padding: 0.4em;
            border: 0.0625em solid colors.$lightGray;
            border-radius: 0.2em;
            font-size: 1em;
          }
        }
        .multi-field {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .field {
            @extend .field;
            display: flex;
            flex-wrap: wrap;
            width: 49%;
            justify-content: center;

            label {
              margin-right: 0.2em;
            }
          }
        }
        .buttons-container {
          @extend %container-row;
          width: 100%;

          .btn {
            @include buttons.btn;

            &:not(:last-child) {
              margin-right: 0.4em;
            }
          }
        }
      }
    }
  }
}
