@use "../abstracts/globals";
@use "../abstracts/colors";
@use "../abstracts/breakpoints";
@use "../base/containers";
@use "../base/typography";
@use "../components/buttons";

#registerPageWrapper {
  width: 100vw;
  height: 100vh;
  background: url("mysite/static/mysite/images/booking-form-background.png"),
    -webkit-linear-gradient(bottom, colors.$darkRed, #b4b4b4);

  .container {
    @extend %container-col--centered;

    .title {
      @extend %title;
      margin-top: 1.2em;
      margin-bottom: 0.4em;
      font-size: 3em;

      @include breakpoints.breakpoint-up(large) {
        margin-top: 3em;
      }
    }
    .register-form {
      @extend %container-col--centered;
      width: 100%;

      .form-control {
        padding: 0.6em;
        width: 94%;
        background-color: colors.$white;
        border-radius: 0.6em;
        border: 0.0625em solid colors.$gray;

        &:not(:last-of-type) {
          margin-bottom: 0.4em;
        }

        @include breakpoints.breakpoint-up(medium) {
          width: 44%;
        }
        @include breakpoints.breakpoint-up(large) {
          width: 24%;
        }
      }
      .button {
        @include buttons.submit-rounded;
        height: 2.6em;
        width: 94%;
        margin-top: 0.8em;

        @include breakpoints.breakpoint-up(medium) {
          width: 44%;
        }
        @include breakpoints.breakpoint-up(large) {
          width: 24%;
        }
      }
    }
  }
}
