@use "../abstracts/breakpoints" as *;

.noScroll {
  overflow-y: hidden;
}

.hideForMobile {
  @include breakpoint-down(small) {
    display: none;
  }
}

.hideForDesktop {
  @include breakpoint-up(medium) {
    display: none;
  }
}