%container-col {
  display: flex;
  flex-direction: column;
}
%container-col--centered {
  @extend %container-col;
  justify-content: center;
  align-items: center;
  text-align: center;
}

%container-row {
  display: flex;
  flex-direction: row;
}
%container-row--centered {
  @extend %container-row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
