@use "./variables" as vars;

* {
  margin: 0;
  padding: 0;
  outline: none;
  font: normal 1em 'Red Hat Text', sans-serif;
  box-sizing: border-box;
}

body {
  color: vars.$darkGray;
}

::selection {
  color: vars.$white;
  background: vars.$darkRed;
}