// COLORS ----------------------------------------------
$darkRed: #591C1C;
$darkPurple: #701D47;
$white: #f0f0f0;
$gray: #262626ea;
$lightGray: #616161;
$midLightGray: #b8b8b846;
$lightestGray: #ddd;
