/* HELPERS FORM BEING USED AS ATOMIC CSS */
.container, .container--centered {
  display: flex;
  flex-direction: column;
}
.container--centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noScroll {
  overflow-y: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.title, .subtitle, .services__subtitle, .location__subtitle {
  font-weight: 500;
  font-size: 4em;
  font-family: "Source Sans Pro", sans-serif;
}

.subtitle, .services__subtitle, .location__subtitle {
  font-size: 3em;
}

.book-now, .book-now--secondary {
  background-color: rgba(89, 28, 28, 0.6);
  border: 0.125em solid #230b0b;
  text-transform: uppercase;
  transition: background-color 150ms ease;
}
.book-now:hover, .book-now--secondary:hover {
  background-color: rgba(128, 40, 40, 0.6);
  cursor: pointer;
}
.book-now--secondary {
  background-color: #f0f0f0;
}
.book-now--secondary:hover {
  background-color: #d7d7d7;
}

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.6)), url(/static/mysite/images/indexPage/landing-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0;
}
#landing .navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: rgba(89, 28, 28, 0.6);
}
#landing .navbar:not(:last-child) {
  margin-right: 1em;
}
#landing .navbar .motto {
  position: absolute;
  display: flex;
  align-items: center;
  left: 1.6em;
}
#landing .navbar .motto__logo {
  width: 4em;
  margin-right: 0.2em;
}
#landing .navbar .motto__text {
  font-weight: bold;
}
#landing .navbar__item {
  text-decoration: none;
  color: #f0f0f0;
  padding: 0.4em;
  transition: background-color 150ms ease;
}
#landing .navbar__item:hover {
  background-color: rgba(128, 40, 40, 0.6);
}
#landing .navbar .menu {
  display: none;
}
@media only screen and (max-width: 63.9375rem) {
  #landing .navbar__item {
    display: none;
  }
  #landing .navbar .motto {
    left: 1em;
  }
  #landing .navbar__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin-left: auto;
    margin-right: 1.6em;
  }
  #landing .navbar__toggle > span {
    display: block;
    width: 100%;
    height: 0.125em;
    background-color: #f0f0f0;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: 6px 1px;
  }
  #landing .navbar__toggle > span:not(:last-child) {
    margin-bottom: 5px;
  }
  #landing .navbar__toggle--open > span:first-child {
    transform: rotate(45deg);
  }
  #landing .navbar__toggle--open > span:nth-child(2) {
    opacity: 0;
  }
  #landing .navbar__toggle--open > span:last-child {
    transform: rotate(-45deg);
  }
  #landing .navbar__toggle:hover {
    cursor: pointer;
  }
  #landing .navbar .menu {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 90%;
    background-color: #f0f0f0;
    margin-top: 20em;
    padding: 1.6em;
    border-radius: 0.4em;
    text-align: center;
    z-index: 1;
  }
  #landing .navbar .menu__item {
    display: block;
    padding: 0.6em;
    color: #424242;
    text-decoration: none;
    text-transform: uppercase;
  }
  #landing .navbar .menu__item:hover, #landing .navbar .menu__item:focus {
    box-shadow: 0 0 3px #424242;
  }
  #landing .navbar .menu--open {
    visibility: visible;
  }
  #landing .navbar #overlay {
    opacity: 0;
    position: fixed;
    top: 3em;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(#424242, transparent);
  }
  #landing .navbar .fade-in {
    animation: fade-in 200ms ease-in-out forwards;
  }
  #landing .navbar .fade-out {
    animation: fade-out 200ms ease-in-out forwards;
  }
}
#landing .presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
#landing .presentation__title {
  font: 500 4em "Source Sans Pro", sans-serif;
}
#landing .presentation__text {
  max-width: 20em;
  font-size: 1.6em;
}
#landing .presentation__logo {
  width: 40%;
}
#landing .presentation .fa-angle-double-down {
  position: absolute;
  bottom: 0.6em;
  font-size: 4em;
  margin: auto;
}
@media only screen and (max-width: 39.9375rem) {
  #landing .presentation {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #landing .presentation__title {
    font: 500 3em "Source Sans Pro", sans-serif;
  }
  #landing .presentation__text {
    font-size: 1.4em;
  }
  #landing .presentation__logo {
    width: 64%;
  }
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  overflow-x: hidden;
  background-color: #591c1c;
  color: #f0f0f0;
}
.location__text {
  font-size: 1em;
}
.location__image {
  width: 50%;
  border-radius: 0.2em;
}
@media only screen and (max-width: 63.9375rem) {
  .location__image {
    width: 70%;
  }
}
@media only screen and (max-width: 39.9375rem) {
  .location__image {
    height: 60%;
    width: auto;
    overflow-x: hidden;
  }
}

.services {
  background-image: url(/static/mysite/images/indexPage/services-background.jpg);
  background-size: cover;
  height: 100vh;
  color: #f0f0f0;
}
.services .container, .services .container--centered {
  width: 100%;
  height: 100%;
}
.servicesitem__description {
  color: rgba(240, 240, 240, 0.6);
}
.services__navigation-button {
  border: none;
  padding: 4.2em 0.6em;
  color: #f0f0f0;
  background-color: rgba(66, 66, 66, 0.9);
}
.services__navigation-button:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.9);
}
.services__navigation-button.left {
  position: absolute;
  left: 1.6em;
}
.services__navigation-button.right {
  position: absolute;
  right: 1.6em;
}
.services .book-now, .services .book-now--secondary {
  padding: 0.6em;
}

/*# sourceMappingURL=index.css.map */
