.btns {
  display: flex;
  width: 100%;
  margin-top: 1em;

  &__btn {
    position: relative;
    width: 100%;
    height: 2.8em;
    border: none;
    border-radius: 0.2em;

    background: $darkRed;
    color: $white;

    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.5s ease;

    &:hover {
      background: $darkPurple;
      cursor: pointer;
    }
    &:not(:last-child){
      margin-right: 1em;
    }
    &--is-disabled {
      background-color: $midLightGray;
      color: $lightGray;
      cursor: default;

      &:hover {
        background: $midLightGray;
        cursor: default;
      }
    }
  }
}

.book-now {
  background-color: $darkRedTransparent;
  border: 0.125em solid darken($darkRed, 14%);
  text-transform: uppercase;
  transition: background-color 150ms ease;

  &:hover {
    background-color: lighten($darkRedTransparent, 10%);
    cursor: pointer;
  }

  &--secondary {
    @extend .book-now;
    background-color: $white;

    &:hover {
      background-color: darken($white, 10%);
    }
  }
}

.load-more-feedbacks {
  width: 4.6em;
  min-height: 2.6em;
  border-radius: 50%;
  border: none;
  background-color: $midLightGray;
  transition: all 150ms ease;

  &:hover {
    width: 5.2em;
    cursor: pointer;
  }
}