@use "../abstracts/colors";
@use "../base/containers";

@mixin progress-bar {
  @extend %container-row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  user-select: none;

  .step {
    position: relative;
    min-width: 3em;
    text-align: center;

    &__label {
      font-weight: 500;
      font-size: 1em;
      color: colors.$gray;
    }
    &__bullet {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 1.2em;
      width: 1.2em;
      margin: auto;
      border: 2px solid colors.$gray;

      border-radius: 50%;
      font-weight: 500;
      font-size: 1em;
      transition: 0.2s;

      .check {
        display: none;
        font-size: 0.8em;
        color: #fff;

        &--is-active {
          display: block;
        }
      }
      &--is-active {
        border-color: colors.$darkPurple;
        background: colors.$darkPurple;

        .num {
          display: none;
        }
      }
    }
  }
}
