@use "../base/colors";

.selectService {
  .services {
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 78%;
    overflow: auto;
    scroll-behavior: smooth;
    color: colors.$white;

    background-image:
    linear-gradient(to right, hsla(0, 0%, 0%, 1), hsla(0, 0%, 45%, 0.8)),
    url(/static/mysite/images/booking-form-service-background.jpg);
    background-size: cover;
    background-blend-mode: darken;

    &__service {
      list-style: none;
      width: max-content;
      margin: 1em;
      padding: 0.4em;
      border-radius: 0.2em;
      background: rgba(colors.$gray, 0.7);
      transition: background-color 150ms ease, text-shadow 150ms ease;

      &:hover {
        text-shadow: 1px 1px 1px colors.$gray;
        background: lighten(colors.$gray, 10%);
      }
    }
  }
}