{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %} Hair Salon {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'mysite/styles/styles.css' %}">
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
  {% block adicional_in_head %}
  {% endblock %}
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>