{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<title>Test app</title>
	<link rel="stylesheet" href="{% static 'mysite/styles/styles.css' %}">
  	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<script>
		// Some global static files' sources which will be used in the program
		const hairSalonImgSource = '{% static "mysite/images/hairSalon.png" %}';
		const personWaitingSource = '{% static "mysite/images/person.png" %}';
		const personWalkingSource = '{% static "mysite/images/person-walking.gif" %}';
	</script>
	<script type="module" src="{% static 'mysite/JavaScript/index.js' %}"></script>
</head>
<body>
	<div id="waitingQueuePageWrapper">
		<span id="room-name" hidden >{{ room_name }}</span>


		<div class="container">
			<div class="back-to-home">
				<i class="fas fa-chevron-left back-to-home__icon"></i>
				<a class="back-to-home__text" href="{% url 'mysite:index' %}">Back to home</a>
			</div>

			<div class="textContainer">
				<h2>Real-time queue</h2>

				<h2 id="queueSizeWrapper">
					Current queue size: <span id="displayQueueSize"></span>
				</h2>
			</div>

			<div id="hairSalonContainer">
				<!-- The hair salon image is going to be the background -->
				<img id="hairSalonBackground" src="{% static 'mysite/images/hairSalon.png' %}" alt="" srcset="">

				<div id="queueContainer">
					<!-- The queue will be generated here via websocket -->
				</div>
			</div>
		</div>
	</div>
</body>
</html>