{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %} Queue app {% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'controlqueue/styles/styles.css' %}">
	<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
	{% block adicional_in_head %}
	{% endblock %}
</head>
<body>
	{% block content %}
	{% endblock%}
</body>
</html>