@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Source+Sans+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font: normal 1em "Red Hat Text", sans-serif;
  box-sizing: border-box;
}

body {
  color: #2d2d2d;
}

::selection {
  color: #f0f0f0;
  background: #591c1c;
}

#indexPageWrapper .feedback .container, #bookingFormPageWrapper .container .form-outer .form .calendar, #registerPageWrapper .container, #registerPageWrapper .container .register-form, #loginPageWrapper .container, #loginPageWrapper .container .login-form, #indexPageWrapper .location, #indexPageWrapper .location .container, #indexPageWrapper .services, #indexPageWrapper .feedback, #indexPageWrapper .footer, #indexPageWrapper .footer .hours, #indexPageWrapper .footer .location, #bookingFormPageWrapper .container {
  display: flex;
  flex-direction: column;
}

#registerPageWrapper .container, #registerPageWrapper .container .register-form, #loginPageWrapper .container, #loginPageWrapper .container .login-form, #indexPageWrapper .location, #indexPageWrapper .location .container, #indexPageWrapper .services, #indexPageWrapper .feedback, #indexPageWrapper .footer, #indexPageWrapper .footer .hours, #indexPageWrapper .footer .location, #bookingFormPageWrapper .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#bookingFormPageWrapper .container .progress-bar, #bookingFormPageWrapper .container .form-outer .form__page .buttons-container, #indexPageWrapper .landing .navbar, #indexPageWrapper .feedback .container .feedback__posts .post, #indexPageWrapper .footer .motto, #indexPageWrapper .footer .social-icons {
  display: flex;
  flex-direction: row;
}

#indexPageWrapper .landing .navbar, #indexPageWrapper .feedback .container .feedback__posts .post, #indexPageWrapper .footer .motto, #indexPageWrapper .footer .social-icons {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#bookingFormPageWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/static/mysite/images/booking-form-background.png"), -webkit-linear-gradient(bottom, #591c1c, #b4b4b4);
}
@media only screen and (min-width: 40rem) {
  #bookingFormPageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#bookingFormPageWrapper .hint {
  font-size: 0.9em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
#bookingFormPageWrapper .container {
  padding: 1em;
  height: 100vh;
  background: #f0f0f0;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
@media only screen and (min-width: 40rem) {
  #bookingFormPageWrapper .container {
    height: 90vh;
    width: 70%;
    border-radius: 0.4em;
  }
}
@media only screen and (min-width: 64rem) {
  #bookingFormPageWrapper .container {
    height: 90vh;
    width: 38%;
    border-radius: 0.4em;
  }
}
#bookingFormPageWrapper .container .back-to-home {
  align-self: start;
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 40rem) {
  #bookingFormPageWrapper .container .back-to-home {
    margin-top: 1em;
    margin-left: 1em;
  }
}
#bookingFormPageWrapper .container .back-to-home__icon {
  font-size: 1em;
  transition: margin 500ms ease;
}
#bookingFormPageWrapper .container .back-to-home__text {
  font-size: 0.9em;
  text-decoration: none;
  font-style: none;
  color: #2d2d2d;
}
#bookingFormPageWrapper .container .back-to-home:hover {
  cursor: pointer;
}
#bookingFormPageWrapper .container .back-to-home:hover .back-to-home__icon {
  margin-left: -0.4em;
}
#bookingFormPageWrapper .container .header {
  flex-grow: 1;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.6em;
}
#bookingFormPageWrapper .container .progress-bar {
  flex-grow: 1;
  margin-bottom: 0.4em;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  user-select: none;
}
#bookingFormPageWrapper .container .progress-bar .step {
  position: relative;
  min-width: 3em;
  text-align: center;
}
#bookingFormPageWrapper .container .progress-bar .step__label {
  font-weight: 500;
  font-size: 1em;
  color: #535353;
}
#bookingFormPageWrapper .container .progress-bar .step__bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1.2em;
  width: 1.2em;
  margin: auto;
  border: 2px solid #535353;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1em;
  transition: 0.2s;
}
#bookingFormPageWrapper .container .progress-bar .step__bullet .check {
  display: none;
  font-size: 0.8em;
  color: #fff;
}
#bookingFormPageWrapper .container .progress-bar .step__bullet .check--is-active {
  display: block;
}
#bookingFormPageWrapper .container .progress-bar .step__bullet--is-active {
  border-color: #701d46;
  background: #701d46;
}
#bookingFormPageWrapper .container .progress-bar .step__bullet--is-active .num {
  display: none;
}
#bookingFormPageWrapper .container .form-outer {
  flex-grow: 2;
  width: 100%;
  overflow: hidden;
}
#bookingFormPageWrapper .container .form-outer .form {
  display: flex;
  width: 400%;
  height: 100%;
}
#bookingFormPageWrapper .container .form-outer .form .services {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 78%;
  overflow: auto;
  scroll-behavior: smooth;
  color: #f0f0f0;
  margin-bottom: 1em;
  background-image: linear-gradient(to right, black, rgba(115, 115, 115, 0.8)), url(/static/mysite/images/booking-form-service-background.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
#bookingFormPageWrapper .container .form-outer .form .services__service {
  list-style: none;
  width: max-content;
  margin: 1em;
  padding: 0.4em;
  border-radius: 0.2em;
  background: rgba(83, 83, 83, 0.7);
  transition: background-color 150ms ease, text-shadow 150ms ease;
}
#bookingFormPageWrapper .container .form-outer .form .services__service:hover {
  text-shadow: 1px 1px 1px #535353;
  background: #6d6d6d;
  cursor: pointer;
}
#bookingFormPageWrapper .container .form-outer .form .services__service:hover .inputInf,
#bookingFormPageWrapper .container .form-outer .form .services__service:hover .title {
  cursor: pointer;
}
#bookingFormPageWrapper .container .form-outer .form .calendar {
  flex-grow: 1;
  max-height: 72%;
  font-family: Verdana, sans-serif;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month {
  flex-grow: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #591c1c;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .display-month,
#bookingFormPageWrapper .container .form-outer .form .calendar__month .display-year {
  margin-right: 0.6em;
  letter-spacing: 3px;
  font-size: 1em;
  text-transform: uppercase;
  color: #f0f0f0;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .previous-month, #bookingFormPageWrapper .container .form-outer .form .calendar__month .next-month {
  position: absolute;
  width: 3em;
  height: 100%;
  top: 0;
  color: #f0f0f0;
  background-color: #591c1c;
  border: none;
  transition-property: background-color, color;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .previous-month:hover, #bookingFormPageWrapper .container .form-outer .form .calendar__month .next-month:hover {
  cursor: pointer;
  width: 3.2em;
  background-color: #ddd;
  color: #535353;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .next-month {
  right: 0;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .next-month.fadeIn {
  animation: fadeIn 500ms;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .next-month.fadeOut {
  animation: fadeOutNext 500ms;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .previous-month {
  left: 0;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .previous-month.fadeIn {
  animation: fadeIn 500ms;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__month .previous-month.fadeOut {
  animation: fadeOutPrev 500ms;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__weekdays {
  flex-grow: 1;
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #ddd;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__weekdays .weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686868;
  font-size: 1em;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__days {
  flex-grow: 4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 0.125em;
  row-gap: 0.125em;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__days * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625em solid #b8b8b8;
  background-color: #f0f0f0;
  color: #686868;
  transition: border-color 250ms ease-in-out;
  animation: createButton 500ms forwards;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__days *.active {
  background-color: #701d46;
  border-color: #701d46;
  color: #f0f0f0;
}
#bookingFormPageWrapper .container .form-outer .form .calendar__days *:hover {
  cursor: pointer;
  border-color: #701d46;
}
#bookingFormPageWrapper .container .form-outer .form .field .title:hover {
  cursor: pointer;
}
#bookingFormPageWrapper .container .form-outer .form .field .inputInf:hover {
  cursor: pointer;
}
#bookingFormPageWrapper .container .form-outer .form__page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;
}
#bookingFormPageWrapper .container .form-outer .form__page .hint {
  font-style: italic;
}
#bookingFormPageWrapper .container .form-outer .form__page .field, #bookingFormPageWrapper .container .form-outer .form__page .multi-field .field {
  position: relative;
  width: 100%;
}
#bookingFormPageWrapper .container .form-outer .form__page .field .label {
  font-weight: 500;
  margin-bottom: 0.4em;
}
#bookingFormPageWrapper .container .form-outer .form__page .field .control {
  width: 100%;
  padding: 0.4em;
  border: 0.0625em solid #686868;
  border-radius: 0.2em;
  font-size: 1em;
}
#bookingFormPageWrapper .container .form-outer .form__page .multi-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#bookingFormPageWrapper .container .form-outer .form__page .multi-field .field {
  display: flex;
  flex-wrap: wrap;
  width: 49%;
  justify-content: center;
}
#bookingFormPageWrapper .container .form-outer .form__page .multi-field .field label {
  margin-right: 0.2em;
}
#bookingFormPageWrapper .container .form-outer .form__page .buttons-container {
  width: 100%;
}
#bookingFormPageWrapper .container .form-outer .form__page .buttons-container .btn {
  position: relative;
  width: 100%;
  height: 2.8em;
  border: none;
  border-radius: 0.2em;
  background: #591c1c;
  color: #f0f0f0;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
#bookingFormPageWrapper .container .form-outer .form__page .buttons-container .btn:hover {
  background: #701d46;
  cursor: pointer;
}
#bookingFormPageWrapper .container .form-outer .form__page .buttons-container .btn--is-disabled {
  background-color: #b8b8b8;
  color: #686868;
  cursor: default;
}
#bookingFormPageWrapper .container .form-outer .form__page .buttons-container .btn--is-disabled:hover {
  background: #b8b8b8;
  cursor: default;
}
#bookingFormPageWrapper .container .form-outer .form__page .buttons-container .btn:not(:last-child) {
  margin-right: 0.4em;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}
@keyframes fadeOutNext {
  0% {
    right: 0;
    background-color: #ddd;
    color: #535353;
  }
  50% {
    right: 0;
    background-color: #591c1c;
    color: #f0f0f0;
  }
  100% {
    right: -2em;
    background-color: #591c1c;
    color: #f0f0f0;
  }
}
@keyframes fadeOutPrev {
  0% {
    left: 0;
    background-color: #ddd;
    color: #535353;
  }
  50% {
    left: 0;
    background-color: #591c1c;
    color: #f0f0f0;
  }
  100% {
    left: -2em;
    background-color: #591c1c;
    color: #f0f0f0;
  }
}
@keyframes createButton {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#registerPageWrapper .container .title, #loginPageWrapper .container .title, #indexPageWrapper .location__subtitle, #indexPageWrapper .services__subtitle, #indexPageWrapper .services__slider .slides .item__title, #indexPageWrapper .feedback__subtitle, #indexPageWrapper .footer .hours .title, #indexPageWrapper .footer .location .title {
  font-weight: 500;
  font-size: 4em;
  font-family: "Source Sans Pro", sans-serif;
}

#indexPageWrapper .location__subtitle, #indexPageWrapper .services__subtitle, #indexPageWrapper .services__slider .slides .item__title, #indexPageWrapper .feedback__subtitle, #indexPageWrapper .footer .hours .title, #indexPageWrapper .footer .location .title {
  font-size: 3em;
}

html,
body {
  scroll-snap-type: y proximity;
}

.noScroll {
  overflow-y: hidden;
}

#indexPageWrapper .landing {
  width: 100%;
  height: 100vh;
  padding: 1em;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  padding: 0 0 1em 0;
  color: #f0f0f0;
  background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.6)), url(/static/mysite/images/indexPage/landing-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#indexPageWrapper .landing .motto {
  position: absolute;
  height: 3em;
  display: flex;
  align-items: center;
  margin-left: 1em;
}
#indexPageWrapper .landing .motto__logo {
  width: 2.8em;
  margin-right: 0.4em;
}
#indexPageWrapper .landing .motto__text {
  font-weight: bold;
}
#indexPageWrapper .landing .navbar {
  width: 100%;
  height: 3em;
  background-color: rgba(89, 28, 28, 0.6);
}
#indexPageWrapper .landing .navbar__item {
  text-decoration: none;
  color: #f0f0f0;
  padding: 0.4em;
  transition: background-color 150ms ease;
}
#indexPageWrapper .landing .navbar__item:not(:last-of-type) {
  margin-right: 0.4em;
}
#indexPageWrapper .landing .navbar__item:hover {
  background-color: rgba(128, 40, 40, 0.6);
}
#indexPageWrapper .landing .navbar__item:last-of-type {
  border: 0.125em solid #230b0b;
  text-transform: uppercase;
  transition: background-color 150ms ease;
}
#indexPageWrapper .landing .navbar__item:last-of-type:hover {
  background-color: #0b0b0b;
}
#indexPageWrapper .landing .navbar .mobile-menu {
  display: none;
}
@media only screen and (max-width: 63.9375rem) {
  #indexPageWrapper .landing .navbar__item {
    display: none;
  }
  #indexPageWrapper .landing .navbar__toggle {
    /* Hamburger menu for mobile devices */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin-left: auto;
    margin-right: 1.6em;
  }
  #indexPageWrapper .landing .navbar__toggle > span {
    display: block;
    width: 100%;
    height: 0.125em;
    background-color: #f0f0f0;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: 6px 1px;
  }
  #indexPageWrapper .landing .navbar__toggle > span:not(:last-child) {
    margin-bottom: 5px;
  }
  #indexPageWrapper .landing .navbar__toggle--open > span:first-child {
    transform: rotate(45deg);
  }
  #indexPageWrapper .landing .navbar__toggle--open > span:nth-child(2) {
    opacity: 0;
  }
  #indexPageWrapper .landing .navbar__toggle--open > span:last-child {
    transform: rotate(-45deg);
  }
  #indexPageWrapper .landing .navbar__toggle:hover {
    cursor: pointer;
  }
  #indexPageWrapper .landing .navbar .mobile-menu {
    /* Also controlled from js */
    visibility: hidden;
    display: block;
    position: absolute;
    width: 90%;
    background-color: #f0f0f0;
    margin-top: 23.5em;
    padding: 1.6em;
    border-radius: 0.4em;
    text-align: center;
    z-index: 1;
  }
  #indexPageWrapper .landing .navbar .mobile-menu__item {
    display: block;
    padding: 0.6em;
    color: #2d2d2d;
    text-decoration: none;
    text-transform: uppercase;
  }
  #indexPageWrapper .landing .navbar .mobile-menu__item:hover, #indexPageWrapper .landing .navbar .mobile-menu__item:focus {
    box-shadow: 0 0 3px #2d2d2d;
  }
  #indexPageWrapper .landing .navbar .mobile-menu__item:last-of-type {
    border: 0.125em solid #230b0b;
    text-transform: uppercase;
    transition: background-color 150ms ease;
    background-color: #f0f0f0;
  }
  #indexPageWrapper .landing .navbar .mobile-menu__item:last-of-type:hover {
    background-color: #0b0b0b;
  }
  #indexPageWrapper .landing .navbar .mobile-menu__item:last-of-type:hover {
    background-color: #d7d7d7;
  }
  #indexPageWrapper .landing .navbar .mobile-menu--open {
    visibility: visible;
  }
  #indexPageWrapper .landing .navbar #overlay {
    display: none;
    opacity: 0;
    position: fixed;
    top: 3em;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(#2d2d2d, transparent);
  }
  #indexPageWrapper .landing .navbar .fade-in {
    animation: fade-in 200ms ease-in-out forwards;
  }
  #indexPageWrapper .landing .navbar .fade-out {
    animation: fade-out 200ms ease-in-out forwards;
  }
}
#indexPageWrapper .landing .presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
#indexPageWrapper .landing .presentation__title {
  font: 500 4em "Source Sans Pro", sans-serif;
}
#indexPageWrapper .landing .presentation__text {
  max-width: 20em;
  font-size: 1.6em;
}
#indexPageWrapper .landing .presentation__logo {
  width: 40%;
}
#indexPageWrapper .landing .presentation .fa-angle-double-down {
  position: absolute;
  bottom: 0.6em;
  font-size: 4em;
  margin: auto;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .landing .presentation {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #indexPageWrapper .landing .presentation__title {
    font: 500 3em "Source Sans Pro", sans-serif;
  }
  #indexPageWrapper .landing .presentation__text {
    font-size: 1.4em;
  }
  #indexPageWrapper .landing .presentation__logo {
    width: 64%;
  }
}
#indexPageWrapper .location {
  width: 100%;
  height: 100vh;
  padding: 1em;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  justify-content: space-evenly;
  background-color: #591c1c;
  color: #f0f0f0;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .location {
    overflow-x: hidden;
  }
}
#indexPageWrapper .location__text {
  font-size: 1em;
}
#indexPageWrapper .location__image {
  width: 50%;
  border-radius: 0.2em;
}
@media only screen and (max-width: 63.9375rem) {
  #indexPageWrapper .location__image {
    width: 70%;
  }
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .location__image {
    height: 50%;
    width: auto;
  }
}
#indexPageWrapper .services {
  width: 100%;
  height: 100vh;
  padding: 1em;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  /* Position relative to contain the absolute desktop navigation buttons */
  position: relative;
  justify-content: space-evenly;
  background-image: url(/static/mysite/images/indexPage/services-background.jpg);
  background-size: cover;
  color: #f0f0f0;
}
#indexPageWrapper .services__slider {
  width: 74%;
  height: 64%;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider {
    width: 94%;
    overflow-x: auto;
  }
}
#indexPageWrapper .services__slider .slides {
  display: grid;
  /* This is gonna make the slider scroll vertically
  width 5 columns of 2 items */
  grid-template-columns: repeat(5, 100%);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.6em;
  list-style: none;
  width: 100%;
  height: 100%;
  transition: margin-left 300ms ease;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider .slides {
    /* For mobile it's going to display one item per slide */
    display: flex;
    width: 900%;
  }
}
#indexPageWrapper .services__slider .slides .item {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(45, 45, 45, 0.8);
  border-radius: 0.4em;
  padding: 0.6em;
}
#indexPageWrapper .services__slider .slides .item .book-now {
  border: 0.125em solid #230b0b;
  text-transform: uppercase;
  transition: background-color 150ms ease;
  background-color: #f0f0f0;
  color: #1b1b1b;
  text-decoration: none;
  padding: 0.5em 2em;
  margin-top: 1em;
  border: 0.0625em solid #2d2d2d;
  border-radius: 0.4em;
}
#indexPageWrapper .services__slider .slides .item .book-now:hover {
  background-color: #0b0b0b;
}
#indexPageWrapper .services__slider .slides .item .book-now:hover {
  background-color: #d7d7d7;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider .slides .item {
    width: 100%;
  }
}
#indexPageWrapper .services__slider .slides .item__title {
  font-size: 1.4em;
}
#indexPageWrapper .services__slider .slides .item__description {
  font-size: 0.94em;
  color: rgba(240, 240, 240, 0.8);
}
#indexPageWrapper .services__slider .navigation-button {
  position: absolute;
  border: none;
  border-radius: 0.2em;
  padding: 4.2em 0.6em;
  top: 41.5%;
  color: #f0f0f0;
  background-color: rgba(45, 45, 45, 0.9);
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider .navigation-button {
    display: none;
  }
}
#indexPageWrapper .services__slider .navigation-button:hover {
  cursor: pointer;
  background-color: rgba(71, 71, 71, 0.9);
}
#indexPageWrapper .services__slider .navigation-button.left {
  left: 1.6em;
}
#indexPageWrapper .services__slider .navigation-button.right {
  right: 1.6em;
}
#indexPageWrapper .services__slider .navigationTracker {
  position: absolute;
  display: flex;
  bottom: 18vh;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 40rem) {
  #indexPageWrapper .services__slider .navigationTracker {
    display: none;
  }
}
#indexPageWrapper .services__slider .navigationTracker .item {
  padding: 0.4em;
  border: solid 2px black;
  border-radius: 50%;
}
#indexPageWrapper .services__slider .navigationTracker .item:not(:last-of-type) {
  margin-right: 0.4em;
}
#indexPageWrapper .services__slider .navigationTracker .item-active {
  background-color: #f0f0f0;
}
#indexPageWrapper .feedback {
  width: 100%;
  height: 100vh;
  padding: 1em;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background-image: url(/static/mysite/images/indexPage/feedback-background.jpg);
  background-size: cover;
}
#indexPageWrapper .feedback__subtitle {
  color: #f0f0f0;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.6em;
}
#indexPageWrapper .feedback .container {
  width: 100%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}
#indexPageWrapper .feedback .container .feedback-form {
  position: relative;
}
#indexPageWrapper .feedback .container .feedback-submit-content {
  padding: 0.6em;
  width: 18em;
  height: 3.2em;
  border-radius: 0.6em;
  transition: height 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  resize: none;
}
#indexPageWrapper .feedback .container .feedback-form-submit {
  position: absolute;
  bottom: 0.8em;
  right: 0.4em;
  padding: 0.4em;
  border-radius: 0.4em;
  border: 0.0625em solid #535353;
  background: #f0f0f0;
}
#indexPageWrapper .feedback .container .feedback__posts {
  overflow-y: scroll;
  height: 72%;
  width: 100%;
}
@media only screen and (min-width: 40rem) {
  #indexPageWrapper .feedback .container .feedback__posts {
    width: 44%;
  }
}
@media only screen and (min-width: 64rem) {
  #indexPageWrapper .feedback .container .feedback__posts {
    width: 28%;
  }
}
#indexPageWrapper .feedback .container .feedback__posts .post {
  /* Right triangle, left side slightly down */
}
#indexPageWrapper .feedback .container .feedback__posts .post:not(:last-of-type) {
  margin-bottom: 1em;
}
#indexPageWrapper .feedback .container .feedback__posts .post .user-photo {
  background: #b8b8b8;
  border-radius: 50%;
  width: 4em;
}
#indexPageWrapper .feedback .container .feedback__posts .post .talk-bubble {
  margin-left: 2em;
  padding: 1em;
  position: relative;
  width: 12em;
  background-color: #ddd;
}
#indexPageWrapper .feedback .container .feedback__posts .post .tri-right.border.left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 8px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
#indexPageWrapper .feedback .container .feedback__posts .post .tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 8px;
  bottom: auto;
  border: 12px solid;
  border-color: #ddd #ddd transparent transparent;
}
#indexPageWrapper .feedback .container .feedback__posts .post__author {
  color: #2d2d2d;
  font-size: 1em;
  text-align: left;
}
#indexPageWrapper .feedback .container .feedback__posts .post__content {
  color: #686868;
  font-size: 0.9em;
  text-align: left;
}
#indexPageWrapper .feedback .container .load-more-feedbacks {
  width: 4.6em;
  min-height: 2.6em;
  border-radius: 50%;
  border: none;
  background-color: #b8b8b8;
  transition: all 150ms ease;
}
#indexPageWrapper .feedback .container .load-more-feedbacks:hover {
  width: 5.2em;
  cursor: pointer;
}
#indexPageWrapper .footer {
  width: 100%;
  height: 100vh;
  padding: 1em;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: min-content;
  scroll-snap-align: end;
  background: #2d2d2d;
}
@media only screen and (min-width: 40rem) {
  #indexPageWrapper .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    grid-template-areas: "site-logo    .      ." "social-icons . staff-button" "copy         .      .";
  }
}
#indexPageWrapper .footer .motto__logo {
  grid-area: site-logo;
  width: 4em;
}
@media only screen and (min-width: 40rem) {
  #indexPageWrapper .footer .motto__logo {
    width: 8em;
  }
}
#indexPageWrapper .footer .motto__text {
  font-size: 1em;
  color: #f0f0f0;
}
@media only screen and (min-width: 40rem) {
  #indexPageWrapper .footer .motto__text {
    font-size: 3em;
  }
}
#indexPageWrapper .footer .social-icons {
  grid-area: social-icons;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 1em;
}
#indexPageWrapper .footer .social-icons__icon {
  color: #f0f0f0;
  font-size: 2em;
}
#indexPageWrapper .footer .hours {
  color: #f0f0f0;
  background-color: unset;
  height: auto;
  padding: 0;
  margin-bottom: 0.4em;
}
#indexPageWrapper .footer .hours .title {
  font-size: 1.1em;
}
#indexPageWrapper .footer .hours .description {
  font-size: 0.8em;
}
#indexPageWrapper .footer .location {
  color: #f0f0f0;
  background-color: unset;
  height: auto;
  padding: 0;
  margin-bottom: 1em;
}
#indexPageWrapper .footer .location .title {
  font-size: 1.1em;
}
#indexPageWrapper .footer .location .description {
  font-size: 0.8em;
}
#indexPageWrapper .footer .staff-button {
  grid-area: staff-button;
  text-decoration: none;
  padding: 0.4em;
  color: #f0f0f0;
  background-color: #591c1c;
  border: 0.065em solid #f0f0f0;
  margin-bottom: 0.6em;
}
#indexPageWrapper .footer .copy {
  font-size: 0.6em;
  grid-area: copy;
  color: #f0f0f0;
}

@media only screen and (max-width: 39.9375rem) {
  html #waitingQueuePageWrapper,
body #waitingQueuePageWrapper {
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
#waitingQueuePageWrapper .back-to-home {
  align-self: start;
  margin-top: 1em;
  margin-left: 1em;
}
#waitingQueuePageWrapper .back-to-home__icon {
  font-size: 1em;
  transition: margin 500ms ease;
}
#waitingQueuePageWrapper .back-to-home__text {
  font-size: 0.9em;
  text-decoration: none;
  font-style: none;
  color: #2d2d2d;
}
#waitingQueuePageWrapper .back-to-home:hover {
  cursor: pointer;
}
#waitingQueuePageWrapper .back-to-home:hover .back-to-home__icon {
  margin-left: -0.4em;
}
#waitingQueuePageWrapper .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
#waitingQueuePageWrapper .container .textContainer {
  margin: 1em 0;
  padding: 0;
  text-align: center;
}
#waitingQueuePageWrapper .container .textContainer #queueSizeWrapper {
  font-size: 1em;
}
#waitingQueuePageWrapper .container .textContainer #queueSizeWrapper #displayQueueSize {
  font-size: 1.4em;
  font-weight: bolder;
  margin-left: 0.2em;
}
@media only screen and (max-width: 39.9375rem) {
  #waitingQueuePageWrapper .container .textContainer {
    font-size: 1em;
  }
}
#waitingQueuePageWrapper .container .textContainer > * {
  margin: 0.2em;
  padding: 0;
}
#waitingQueuePageWrapper .container #hairSalonContainer {
  position: relative;
  margin: auto;
  padding: 0;
  overflow-x: scroll;
}
@media only screen and (min-width: 40rem) {
  #waitingQueuePageWrapper .container #hairSalonContainer {
    width: 40%;
  }
}
@media only screen and (max-width: 63.9375rem) {
  #waitingQueuePageWrapper .container #hairSalonContainer {
    width: 60%;
  }
}
@media only screen and (max-width: 39.9375rem) {
  #waitingQueuePageWrapper .container #hairSalonContainer {
    width: 98%;
  }
}
#waitingQueuePageWrapper .container #hairSalonContainer #hairSalonBackground {
  width: 100%;
  margin: auto;
  padding: 0;
  z-index: 0;
}
#waitingQueuePageWrapper .container #hairSalonContainer #queueContainer {
  position: absolute;
  display: flex;
  width: 64%;
  height: 60%;
  left: 36%;
  bottom: 0;
}
#waitingQueuePageWrapper .container #hairSalonContainer #queueContainer .person {
  position: relative;
  width: 30%;
  height: 100%;
  z-index: 10;
}
#waitingQueuePageWrapper .container #hairSalonContainer #queueContainer .personArrivingWalking {
  position: relative;
  animation-name: arrivesWalking;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes arrivesWalking {
  from {
    left: 75%;
  }
  to {
    left: 0;
  }
}
#waitingQueuePageWrapper .container #hairSalonContainer #queueContainer .personWalkingAway {
  position: relative;
  animation-name: walksAway;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes walksAway {
  from {
    left: 0;
    width: 30%;
    height: 100%;
    opacity: 1;
  }
  to {
    left: -4.6em;
    width: 0;
    height: 100%;
    opacity: 0;
  }
}

#loginPageWrapper {
  width: 100vw;
  height: 100vh;
  background: url("mysite/static/mysite/images/booking-form-background.png"), -webkit-linear-gradient(bottom, #591c1c, #b4b4b4);
}
#loginPageWrapper .back-to-home {
  position: absolute;
  top: 1em;
  left: 1em;
}
@media only screen and (min-width: 40rem) {
  #loginPageWrapper .back-to-home {
    top: 4em;
    left: 6em;
  }
}
@media only screen and (min-width: 64rem) {
  #loginPageWrapper .back-to-home {
    top: 14%;
    left: 32%;
  }
}
#loginPageWrapper .back-to-home__icon {
  font-size: 1em;
  transition: margin 500ms ease;
}
#loginPageWrapper .back-to-home__text {
  font-size: 0.9em;
  text-decoration: none;
  font-style: none;
  color: #2d2d2d;
}
#loginPageWrapper .back-to-home:hover {
  cursor: pointer;
}
#loginPageWrapper .back-to-home:hover .back-to-home__icon {
  margin-left: -0.4em;
}
#loginPageWrapper .container .title {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
  font-size: 3em;
}
@media only screen and (min-width: 64rem) {
  #loginPageWrapper .container .title {
    margin-top: 3em;
  }
}
#loginPageWrapper .container .login-form {
  width: 100%;
}
#loginPageWrapper .container .login-form .form-control {
  padding: 0.6em;
  width: 94%;
  background-color: #f0f0f0;
  border-radius: 0.6em;
  border: 0.0625em solid #535353;
}
#loginPageWrapper .container .login-form .form-control:not(:last-of-type) {
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 40rem) {
  #loginPageWrapper .container .login-form .form-control {
    width: 44%;
  }
}
@media only screen and (min-width: 64rem) {
  #loginPageWrapper .container .login-form .form-control {
    width: 24%;
  }
}
#loginPageWrapper .container .login-form .button {
  border-radius: 0.4em;
  color: #f0f0f0;
  background-color: #591c1c;
  border: 0.0625em solid #1b1b1b;
  transition: background-color 500ms ease;
  height: 2.6em;
  width: 94%;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}
#loginPageWrapper .container .login-form .button:hover {
  cursor: pointer;
  background-color: #702323;
}
@media only screen and (min-width: 40rem) {
  #loginPageWrapper .container .login-form .button {
    width: 44%;
  }
}
@media only screen and (min-width: 64rem) {
  #loginPageWrapper .container .login-form .button {
    width: 24%;
  }
}

#registerPageWrapper {
  width: 100vw;
  height: 100vh;
  background: url("mysite/static/mysite/images/booking-form-background.png"), -webkit-linear-gradient(bottom, #591c1c, #b4b4b4);
}
#registerPageWrapper .back-to-home {
  position: absolute;
  top: 1em;
  left: 1em;
}
@media only screen and (min-width: 40rem) {
  #registerPageWrapper .back-to-home {
    top: 4em;
    left: 6em;
  }
}
@media only screen and (min-width: 64rem) {
  #registerPageWrapper .back-to-home {
    top: 14%;
    left: 32%;
  }
}
#registerPageWrapper .back-to-home__icon {
  font-size: 1em;
  transition: margin 500ms ease;
}
#registerPageWrapper .back-to-home__text {
  font-size: 0.9em;
  text-decoration: none;
  font-style: none;
  color: #2d2d2d;
}
#registerPageWrapper .back-to-home:hover {
  cursor: pointer;
}
#registerPageWrapper .back-to-home:hover .back-to-home__icon {
  margin-left: -0.4em;
}
#registerPageWrapper .container .title {
  margin-top: 1.2em;
  margin-bottom: 0.4em;
  font-size: 3em;
}
@media only screen and (min-width: 64rem) {
  #registerPageWrapper .container .title {
    margin-top: 3em;
  }
}
#registerPageWrapper .container .register-form {
  width: 100%;
}
#registerPageWrapper .container .register-form .form-control {
  padding: 0.6em;
  width: 94%;
  background-color: #f0f0f0;
  border-radius: 0.6em;
  border: 0.0625em solid #535353;
}
#registerPageWrapper .container .register-form .form-control:not(:last-of-type) {
  margin-bottom: 0.4em;
}
@media only screen and (min-width: 40rem) {
  #registerPageWrapper .container .register-form .form-control {
    width: 44%;
  }
}
@media only screen and (min-width: 64rem) {
  #registerPageWrapper .container .register-form .form-control {
    width: 24%;
  }
}
#registerPageWrapper .container .register-form .button {
  border-radius: 0.4em;
  color: #f0f0f0;
  background-color: #591c1c;
  border: 0.0625em solid #1b1b1b;
  transition: background-color 500ms ease;
  height: 2.6em;
  width: 94%;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}
#registerPageWrapper .container .register-form .button:hover {
  cursor: pointer;
  background-color: #702323;
}
@media only screen and (min-width: 40rem) {
  #registerPageWrapper .container .register-form .button {
    width: 44%;
  }
}
@media only screen and (min-width: 64rem) {
  #registerPageWrapper .container .register-form .button {
    width: 24%;
  }
}

/*# sourceMappingURL=styles.css.map */
