@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&family=Source+Sans+Pro:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font: normal 1em "Red Hat Text", sans-serif;
  box-sizing: border-box;
}

body {
  color: #424242;
}

::selection {
  color: #f0f0f0;
  background: #591c1c;
}

* {
  font-family: "Poppins", sans-serif;
}

body #bookingFormPageWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("/static/mysite/images/booking-form-background.png"), -webkit-linear-gradient(bottom, #591c1c, #b4b4b4);
}

.calendar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 72%;
  font-family: Verdana, sans-serif;
}
.calendar__month {
  flex-grow: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #591c1c;
}
.calendar__month #displayMonth, .calendar__month #displayYear {
  margin-right: 0.6em;
  letter-spacing: 3px;
  font-size: 1em;
  text-transform: uppercase;
  color: #f0f0f0;
}
.calendar__month .change-month {
  position: absolute;
  width: 4em;
  height: 100%;
  top: 0;
  color: #f0f0f0;
  background-color: #591c1c;
  border: none;
  transition-property: background-color, color, width;
  transition-duration: 500ms;
  transition-timing-function: ease;
  /* classes for animations */
  /* positioning the buttons properly */
}
.calendar__month .change-month:hover {
  cursor: pointer;
  width: 6em;
  background-color: #ddd;
  color: #535353;
}
.calendar__month .change-month.fadeIn {
  animation: fadeIn 500ms;
}
@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 4em;
  }
}
.calendar__month .change-month.fadeOut {
  animation: fadeOut 500ms;
}
@keyframes fadeOut {
  0% {
    width: 6em;
    background-color: #ddd;
    color: #535353;
  }
  25% {
    width: 6em;
    background-color: #591c1c;
    color: #f0f0f0;
  }
  100% {
    width: 0;
    background-color: #591c1c;
    color: #f0f0f0;
  }
}
.calendar__month .change-month#nextMonth {
  right: 0;
}
.calendar__month .change-month#previousMonth {
  left: 0;
}
.calendar__weekdays {
  flex-grow: 1;
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #ddd;
}
.calendar__weekdays .weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #686868;
  font-size: 1em;
}
.calendar__days {
  flex-grow: 4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 0.125em;
  row-gap: 0.125em;
}
.calendar__days * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.0625em solid #b8b8b8;
  background-color: #f0f0f0;
  color: #686868;
  transition: border-color 250ms ease-in-out;
  animation: createButton 500ms forwards;
}
.calendar__days *.active {
  background-color: #701d46;
  border-color: #701d46;
  color: #f0f0f0;
}
.calendar__days *:hover {
  cursor: pointer;
  border-color: #701d46;
}
@keyframes createButton {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#bookingFormPageWrapper .btns {
  display: flex;
  width: 100%;
  margin-top: 1em;
}
#bookingFormPageWrapper .btns__btn {
  position: relative;
  width: 100%;
  height: 2.8em;
  border: none;
  border-radius: 0.2em;
  background: #591c1c;
  color: #f0f0f0;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
}
#bookingFormPageWrapper .btns__btn:hover {
  background: #701d46;
  cursor: pointer;
}
#bookingFormPageWrapper .btns__btn:not(:last-child) {
  margin-right: 1em;
}
#bookingFormPageWrapper .btns__btn--is-disabled {
  background-color: #b8b8b8;
  color: #686868;
  cursor: default;
}
#bookingFormPageWrapper .btns__btn--is-disabled:hover {
  background: #b8b8b8;
  cursor: default;
}

.selectService .services {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 78%;
  overflow: auto;
  scroll-behavior: smooth;
  color: #f0f0f0;
  background-image: linear-gradient(to right, black, rgba(115, 115, 115, 0.8)), url(/static/mysite/images/booking-form-service-background.jpg);
  background-size: cover;
  background-blend-mode: darken;
}
.selectService .services__service {
  list-style: none;
  width: max-content;
  margin: 1em;
  padding: 0.4em;
  border-radius: 0.2em;
  background: rgba(83, 83, 83, 0.7);
  transition: background-color 150ms ease, text-shadow 150ms ease;
}
.selectService .services__service:hover {
  text-shadow: 1px 1px 1px #535353;
  background: #6d6d6d;
}

#bookingFormPageWrapper .container, #bookingFormPageWrapper .container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 94vh;
  margin: 3vh auto;
  padding: 1.6em;
  background: #f0f0f0;
  border-radius: 0.4em;
  font-size: 1em;
}
@media only screen and (min-width: 150rem) {
  #bookingFormPageWrapper .container, #bookingFormPageWrapper .container--centered {
    height: 70vh;
    margin: 15vh auto;
  }
}
@media only screen and (max-width: 39.9375rem) {
  #bookingFormPageWrapper .container, #bookingFormPageWrapper .container--centered {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 0.8em;
  }
}
#bookingFormPageWrapper .container #header, #bookingFormPageWrapper .container--centered #header {
  font-size: 2em;
  font-weight: 600;
}
#bookingFormPageWrapper .container #progress-bar, #bookingFormPageWrapper .container--centered #progress-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  user-select: none;
}
#bookingFormPageWrapper .container #progress-bar .step, #bookingFormPageWrapper .container--centered #progress-bar .step {
  position: relative;
  min-width: 4em;
  text-align: center;
}
#bookingFormPageWrapper .container #progress-bar .step__label, #bookingFormPageWrapper .container--centered #progress-bar .step__label {
  font-weight: 500;
  font-size: 1.2em;
  color: #535353;
}
#bookingFormPageWrapper .container #progress-bar .step__bullet, #bookingFormPageWrapper .container--centered #progress-bar .step__bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1.4em;
  width: 1.4em;
  margin: auto;
  border: 2px solid #535353;
  border-radius: 50%;
  font-weight: 500;
  font-size: 1.2em;
  transition: 0.2s;
}
#bookingFormPageWrapper .container #progress-bar .step__bullet .check, #bookingFormPageWrapper .container--centered #progress-bar .step__bullet .check {
  display: none;
  font-size: 1em;
  color: #fff;
}
#bookingFormPageWrapper .container #progress-bar .step__bullet .check--is-active, #bookingFormPageWrapper .container--centered #progress-bar .step__bullet .check--is-active {
  display: block;
}
#bookingFormPageWrapper .container #progress-bar .step__bullet--is-active, #bookingFormPageWrapper .container--centered #progress-bar .step__bullet--is-active {
  border-color: #701d46;
  background: #701d46;
}
#bookingFormPageWrapper .container #progress-bar .step__bullet--is-active .num, #bookingFormPageWrapper .container--centered #progress-bar .step__bullet--is-active .num {
  display: none;
}
#bookingFormPageWrapper .container .form-outer, #bookingFormPageWrapper .container--centered .form-outer {
  flex-grow: 1;
  width: 100%;
  margin-top: 1em;
  overflow: hidden;
}
#bookingFormPageWrapper .container .form-outer .form, #bookingFormPageWrapper .container--centered .form-outer .form {
  display: flex;
  width: 400%;
  height: 100%;
}
#bookingFormPageWrapper .container .form-outer .form__page, #bookingFormPageWrapper .container--centered .form-outer .form__page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
  transition: margin-left 0.3s ease-in-out;
}
#bookingFormPageWrapper .container .form-outer .form__page .hint, #bookingFormPageWrapper .container--centered .form-outer .form__page .hint {
  font-style: italic;
}
#bookingFormPageWrapper .container .form-outer .form__page .field, #bookingFormPageWrapper .container--centered .form-outer .form__page .field, #bookingFormPageWrapper .container .form-outer .form__page .multi-field .field, #bookingFormPageWrapper .container--centered .form-outer .form__page .multi-field .field {
  position: relative;
  width: 100%;
}
#bookingFormPageWrapper .container .form-outer .form__page .field .label, #bookingFormPageWrapper .container--centered .form-outer .form__page .field .label {
  font-weight: 500;
  margin-bottom: 0.4em;
}
#bookingFormPageWrapper .container .form-outer .form__page .field .control, #bookingFormPageWrapper .container--centered .form-outer .form__page .field .control {
  width: 100%;
  padding: 0.4em;
  border: 0.0625em solid #686868;
  border-radius: 0.2em;
  font-size: 1em;
}
#bookingFormPageWrapper .container .form-outer .form__page .multi-field, #bookingFormPageWrapper .container--centered .form-outer .form__page .multi-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#bookingFormPageWrapper .container .form-outer .form__page .multi-field .field, #bookingFormPageWrapper .container--centered .form-outer .form__page .multi-field .field {
  display: flex;
  flex-wrap: wrap;
  width: 49%;
  justify-content: center;
}
#bookingFormPageWrapper .container .form-outer .form__page .multi-field .field label, #bookingFormPageWrapper .container--centered .form-outer .form__page .multi-field .field label {
  margin-right: 0.2em;
}

/* GENERAL STYLES */
/* HELPERS FORM BEING USED AS ATOMIC CSS */
.container, .container--centered {
  display: flex;
  flex-direction: column;
}
.container--centered {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noScroll {
  overflow-y: hidden;
}

@media only screen and (max-width: 39.9375rem) {
  .hideForMobile {
    display: none;
  }
}

@media only screen and (min-width: 40rem) {
  .hideForDesktop {
    display: none;
  }
}

/* MORE SPECIFIC FOR COMPONENTS */
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.title, .subtitle, #indexPageWrapper .feedback__subtitle, #indexPageWrapper .services__slider .slides .item__title, #indexPageWrapper .services__subtitle, #indexPageWrapper .location__subtitle {
  font-weight: 500;
  font-size: 4em;
  font-family: "Source Sans Pro", sans-serif;
}

.subtitle, #indexPageWrapper .feedback__subtitle, #indexPageWrapper .services__slider .slides .item__title, #indexPageWrapper .services__subtitle, #indexPageWrapper .location__subtitle {
  font-size: 3em;
}

.book-now, .book-now--secondary {
  background-color: rgba(89, 28, 28, 0.6);
  border: 0.125em solid #230b0b;
  text-transform: uppercase;
  transition: background-color 150ms ease;
}
.book-now:hover, .book-now--secondary:hover {
  background-color: rgba(128, 40, 40, 0.6);
  cursor: pointer;
}
.book-now--secondary {
  background-color: #f0f0f0;
}
.book-now--secondary:hover {
  background-color: #d7d7d7;
}

.load-more-feedbacks {
  width: 4.6em;
  min-height: 2.6em;
  border-radius: 50%;
  border: none;
  background-color: #b8b8b8;
  transition: all 150ms ease;
}
.load-more-feedbacks:hover {
  width: 5.2em;
  cursor: pointer;
}

html, body {
  scroll-snap-type: y proximity;
}

.section {
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

#indexPageWrapper #landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(5, 5, 5, 0.6), rgba(5, 5, 5, 0.6)), url(/static/mysite/images/indexPage/landing-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0;
}
#indexPageWrapper #landing .navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 3em;
  background-color: rgba(89, 28, 28, 0.6);
}
#indexPageWrapper #landing .navbar:not(:last-child) {
  margin-right: 1em;
}
#indexPageWrapper #landing .navbar .motto {
  position: absolute;
  display: flex;
  align-items: center;
  left: 1.6em;
}
#indexPageWrapper #landing .navbar .motto__logo {
  width: 4em;
  margin-right: 0.2em;
}
#indexPageWrapper #landing .navbar .motto__text {
  font-weight: bold;
}
#indexPageWrapper #landing .navbar__item {
  text-decoration: none;
  color: #f0f0f0;
  padding: 0.4em;
  transition: background-color 150ms ease;
}
#indexPageWrapper #landing .navbar__item:hover {
  background-color: rgba(128, 40, 40, 0.6);
}
#indexPageWrapper #landing .navbar .menu {
  display: none;
}
@media only screen and (max-width: 63.9375rem) {
  #indexPageWrapper #landing .navbar__item {
    display: none;
  }
  #indexPageWrapper #landing .navbar .motto {
    left: 1em;
  }
  #indexPageWrapper #landing .navbar__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    margin-left: auto;
    margin-right: 1.6em;
  }
  #indexPageWrapper #landing .navbar__toggle > span {
    display: block;
    width: 100%;
    height: 0.125em;
    background-color: #f0f0f0;
    transition: all 300ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform-origin: 6px 1px;
  }
  #indexPageWrapper #landing .navbar__toggle > span:not(:last-child) {
    margin-bottom: 5px;
  }
  #indexPageWrapper #landing .navbar__toggle--open > span:first-child {
    transform: rotate(45deg);
  }
  #indexPageWrapper #landing .navbar__toggle--open > span:nth-child(2) {
    opacity: 0;
  }
  #indexPageWrapper #landing .navbar__toggle--open > span:last-child {
    transform: rotate(-45deg);
  }
  #indexPageWrapper #landing .navbar__toggle:hover {
    cursor: pointer;
  }
  #indexPageWrapper #landing .navbar .menu {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 90%;
    background-color: #f0f0f0;
    margin-top: 20em;
    padding: 1.6em;
    border-radius: 0.4em;
    text-align: center;
    z-index: 1;
  }
  #indexPageWrapper #landing .navbar .menu__item {
    display: block;
    padding: 0.6em;
    color: #424242;
    text-decoration: none;
    text-transform: uppercase;
  }
  #indexPageWrapper #landing .navbar .menu__item:hover, #indexPageWrapper #landing .navbar .menu__item:focus {
    box-shadow: 0 0 3px #424242;
  }
  #indexPageWrapper #landing .navbar .menu--open {
    visibility: visible;
  }
  #indexPageWrapper #landing .navbar #overlay {
    display: none;
    opacity: 0;
    position: fixed;
    top: 3em;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-image: linear-gradient(#424242, transparent);
  }
  #indexPageWrapper #landing .navbar .fade-in {
    animation: fade-in 200ms ease-in-out forwards;
  }
  #indexPageWrapper #landing .navbar .fade-out {
    animation: fade-out 200ms ease-in-out forwards;
  }
}
#indexPageWrapper #landing .presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
#indexPageWrapper #landing .presentation__title {
  font: 500 4em "Source Sans Pro", sans-serif;
}
#indexPageWrapper #landing .presentation__text {
  max-width: 20em;
  font-size: 1.6em;
}
#indexPageWrapper #landing .presentation__logo {
  width: 40%;
}
#indexPageWrapper #landing .presentation .fa-angle-double-down {
  position: absolute;
  bottom: 0.6em;
  font-size: 4em;
  margin: auto;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper #landing .presentation {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #indexPageWrapper #landing .presentation__title {
    font: 500 3em "Source Sans Pro", sans-serif;
  }
  #indexPageWrapper #landing .presentation__text {
    font-size: 1.4em;
  }
  #indexPageWrapper #landing .presentation__logo {
    width: 64%;
  }
}
#indexPageWrapper .location {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 1em;
  overflow-x: hidden;
  background-color: #591c1c;
  color: #f0f0f0;
}
#indexPageWrapper .location__text {
  font-size: 1em;
}
#indexPageWrapper .location__image {
  width: 50%;
  border-radius: 0.2em;
}
@media only screen and (max-width: 63.9375rem) {
  #indexPageWrapper .location__image {
    width: 70%;
  }
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .location__image {
    height: 60%;
    width: auto;
    overflow-x: hidden;
  }
}
#indexPageWrapper .services {
  background-image: url(/static/mysite/images/indexPage/services-background.jpg);
  background-size: cover;
  height: 100vh;
  color: #f0f0f0;
}
#indexPageWrapper .services .container, #indexPageWrapper .services .container--centered {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#indexPageWrapper .services__slider {
  width: 74%;
  height: 64%;
  margin: 1em auto;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider {
    width: 94%;
    overflow-x: auto;
  }
}
#indexPageWrapper .services__slider .slides {
  display: grid;
  /* This is gonna make the slider scroll vertically
  width 5 columns of 2 items */
  grid-template-columns: repeat(5, 100%);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.6em;
  list-style: none;
  width: 100%;
  height: 100%;
  transition: margin-left 300ms ease;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider .slides {
    display: flex;
    width: 900%;
  }
}
#indexPageWrapper .services__slider .slides .item {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(66, 66, 66, 0.8);
  border-radius: 0.4em;
  padding: 0.6em;
}
@media only screen and (max-width: 39.9375rem) {
  #indexPageWrapper .services__slider .slides .item {
    width: 100%;
  }
  #indexPageWrapper .services__slider .slides .item .book-now, #indexPageWrapper .services__slider .slides .item .book-now--secondary {
    padding: 0.5em 2em;
    margin-top: 1em;
    background-color: #f0f0f0;
    border-radius: 0.4em;
  }
}
#indexPageWrapper .services__slider .slides .item__title {
  font-size: 1.4em;
}
#indexPageWrapper .services__slider .slides .item__description {
  font-size: 0.94em;
  color: rgba(240, 240, 240, 0.8);
}
#indexPageWrapper .services__slider .navigation-button {
  position: absolute;
  border: none;
  border-radius: 0.2em;
  padding: 4.2em 0.6em;
  top: 41.5%;
  color: #f0f0f0;
  background-color: rgba(66, 66, 66, 0.9);
}
#indexPageWrapper .services__slider .navigation-button:hover {
  cursor: pointer;
  background-color: rgba(92, 92, 92, 0.9);
}
#indexPageWrapper .services__slider .navigation-button.left {
  left: 1.6em;
}
#indexPageWrapper .services__slider .navigation-button.right {
  right: 1.6em;
}
#indexPageWrapper .services__slider .navigationTracker {
  position: absolute;
  display: flex;
  bottom: 18vh;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (min-width: 40rem) {
  #indexPageWrapper .services__slider .navigationTracker {
    display: none;
  }
}
#indexPageWrapper .services__slider .navigationTracker .item {
  padding: 0.4em;
  border: solid 2px black;
  border-radius: 50%;
}
#indexPageWrapper .services__slider .navigationTracker .item:not(:last-child) {
  margin-right: 0.4em;
}
#indexPageWrapper .services__slider .navigationTracker .item-active {
  background-color: #f0f0f0;
}
#indexPageWrapper .feedback {
  background-image: url(/static/mysite/images/indexPage/feedback-background.jpg);
  background-size: cover;
  height: 100vh;
  padding: 1em;
  color: #f0f0f0;
  text-align: center;
}
#indexPageWrapper .feedback__subtitle {
  font-size: 2.4em;
  margin-bottom: 0.6em;
}
#indexPageWrapper .feedback .container--centered {
  width: 44%;
  height: 82%;
  margin: auto;
  justify-content: flex-start;
}
#indexPageWrapper .feedback .container--centered .feedback-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#indexPageWrapper .feedback .container--centered .feedback-submit__content {
  padding: 0.6em;
  width: 20em;
  height: 3.2em;
  border-radius: 0.6em;
  transition: height 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  resize: none;
}
#indexPageWrapper .feedback .container--centered .feedback-submit__btn {
  position: absolute;
  right: 0.8em;
  bottom: 0.6em;
  padding: 0.2em;
  border-radius: 0.2em;
  border: 0.0625em solid #535353;
  background-color: #591c1c;
  color: #f0f0f0;
}
#indexPageWrapper .feedback .container--centered .feedback-submit__btn:hover {
  cursor: pointer;
}
#indexPageWrapper .feedback .container--centered .feedback__posts {
  margin: 1.2em 0;
  color: #424242;
  margin-left: -5.2em;
  padding: 0 1em;
  overflow-y: scroll;
  max-height: 74%;
}
#indexPageWrapper .feedback .container--centered .feedback__posts .post {
  display: flex;
  align-items: center;
  text-align: left;
  /* Right triangle, left side slightly down */
}
#indexPageWrapper .feedback .container--centered .feedback__posts .post:not(:last-child) {
  margin-bottom: 1em;
}
#indexPageWrapper .feedback .container--centered .feedback__posts .post .user-photo {
  align-self: flex-start;
  margin-top: 1em;
  background: #b8b8b8;
  border-radius: 50%;
  width: 4em;
}
#indexPageWrapper .feedback .container--centered .feedback__posts .post .talk-bubble {
  margin-left: 2em;
  padding: 1em;
  position: relative;
  width: 20em;
  background-color: #ddd;
}
#indexPageWrapper .feedback .container--centered .feedback__posts .post .tri-right.border.left-in:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 8px;
  bottom: auto;
  border: 20px solid;
  border-color: #666 #666 transparent transparent;
}
#indexPageWrapper .feedback .container--centered .feedback__posts .post .tri-right.left-in:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -20px;
  right: auto;
  top: 8px;
  bottom: auto;
  border: 12px solid;
  border-color: #ddd #ddd transparent transparent;
}

@media only screen and (max-width: 39.9375rem) {
  html #bookingFormPageWrapper, body #bookingFormPageWrapper {
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
#bookingFormPageWrapper .container, #bookingFormPageWrapper .container--centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
#bookingFormPageWrapper .container .textContainer, #bookingFormPageWrapper .container--centered .textContainer {
  margin: 1em 0;
  padding: 0;
}
#bookingFormPageWrapper .container .textContainer #queueSizeWrapper, #bookingFormPageWrapper .container--centered .textContainer #queueSizeWrapper {
  font-size: 1em;
}
#bookingFormPageWrapper .container .textContainer #queueSizeWrapper #displayQueueSize, #bookingFormPageWrapper .container--centered .textContainer #queueSizeWrapper #displayQueueSize {
  font-size: 1.4em;
  font-weight: bolder;
  margin-left: 0.2em;
}
@media only screen and (max-width: 39.9375rem) {
  #bookingFormPageWrapper .container .textContainer, #bookingFormPageWrapper .container--centered .textContainer {
    font-size: 1em;
  }
}
#bookingFormPageWrapper .container .textContainer > *, #bookingFormPageWrapper .container--centered .textContainer > * {
  margin: 0.2em;
  padding: 0;
}
#bookingFormPageWrapper .container #hairSalonContainer, #bookingFormPageWrapper .container--centered #hairSalonContainer {
  position: relative;
  margin: auto;
  padding: 0;
  overflow-x: scroll;
}
@media only screen and (min-width: 40rem) {
  #bookingFormPageWrapper .container #hairSalonContainer, #bookingFormPageWrapper .container--centered #hairSalonContainer {
    width: 40%;
  }
}
@media only screen and (max-width: 63.9375rem) {
  #bookingFormPageWrapper .container #hairSalonContainer, #bookingFormPageWrapper .container--centered #hairSalonContainer {
    width: 60%;
  }
}
@media only screen and (max-width: 39.9375rem) {
  #bookingFormPageWrapper .container #hairSalonContainer, #bookingFormPageWrapper .container--centered #hairSalonContainer {
    width: 98%;
  }
}
#bookingFormPageWrapper .container #hairSalonContainer #hairSalonBackground, #bookingFormPageWrapper .container--centered #hairSalonContainer #hairSalonBackground {
  width: 100%;
  margin: auto;
  padding: 0;
  z-index: 0;
}
#bookingFormPageWrapper .container #hairSalonContainer #queueContainer, #bookingFormPageWrapper .container--centered #hairSalonContainer #queueContainer {
  position: absolute;
  display: flex;
  width: 64%;
  height: 60%;
  left: 36%;
  bottom: 0;
}
#bookingFormPageWrapper .container #hairSalonContainer #queueContainer .person, #bookingFormPageWrapper .container--centered #hairSalonContainer #queueContainer .person {
  position: relative;
  width: 30%;
  height: 100%;
  z-index: 10;
}
#bookingFormPageWrapper .container #hairSalonContainer #queueContainer .personArrivingWalking, #bookingFormPageWrapper .container--centered #hairSalonContainer #queueContainer .personArrivingWalking {
  position: relative;
  animation-name: arrivesWalking;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes arrivesWalking {
  from {
    left: 75%;
  }
  to {
    left: 0;
  }
}
#bookingFormPageWrapper .container #hairSalonContainer #queueContainer .personWalkingAway, #bookingFormPageWrapper .container--centered #hairSalonContainer #queueContainer .personWalkingAway {
  position: relative;
  animation-name: walksAway;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes walksAway {
  from {
    left: 0;
    width: 30%;
    height: 100%;
    opacity: 1;
  }
  to {
    left: -4.6em;
    width: 0;
    height: 100%;
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
