@use "colors";

// ------------------------------ Simple fades -------------------------------
@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

// ----------------------- Animations for the calendar -----------------------
@keyframes fadeIn {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}
@keyframes fadeOutNext {
  0% {
    right: 0;
    background-color: colors.$lightestGray;
    color: colors.$gray;
  }
  50% {
    right: 0;
    background-color: colors.$darkRed;
    color: colors.$white;
  }
  100% {
    right: -2em; // Button disappear on the right
    background-color: colors.$darkRed;
    color: colors.$white;
  }
}
@keyframes fadeOutPrev {
  0% {
    left: 0;
    background-color: colors.$lightestGray;
    color: colors.$gray;
  }
  50% {
    left: 0;
    background-color: colors.$darkRed;
    color: colors.$white;
  }
  100% {
    left: -2em; // Button disappear on the left
    background-color: colors.$darkRed;
    color: colors.$white;
  }
}
// ---------------------------------------------------------------------------

$flutteredAnimation: cubic-bezier(0.68, -0.55, 0.27, 1.55);

@keyframes createButton {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
