.btns {
	display: flex;
	width: 100%;
	margin-top: 1em;

	&__btn {
		position: relative;
		width: 100%;
		height: 2.8em;
		border: none;
		border-radius: 0.2em;
		
		background: $darkRed;
		color: $white;
		
		font-size: 1.2em;
		font-weight: 500;
		text-transform: uppercase;
		transition: background-color 0.5s ease;
		
		&:hover {
			background: $darkPurple;
			cursor: pointer;
		}
		&:not(:last-child){
			margin-right: 1em;
		}
		&--is-disabled {
			background-color: $midLightGray;
			color: $lightGray;
			cursor: default;

			&:hover {
				background: $midLightGray;
				cursor: default;
			}
		}
	}
}