@import "../../common/globals";

.book-now {
	background-color: $darkRedTransparent;
	border: 0.125em solid darken($darkRed, 14%);
	text-transform: uppercase;
	transition: background-color 150ms ease;

	&:hover {
		background-color: lighten($darkRedTransparent, 10%);
		cursor: pointer;
	}
	
	&--secondary {
		@extend .book-now;
		background-color: $white;
		
		&:hover {
			background-color: darken($white, 10%);
		}
	}
}
.load-more-feedbacks {
	width: 4.6em;
    min-height: 2.6em;
    border-radius: 50%;
    border: none;
	background-color: $midLightGray;
	transition: all 150ms ease;
	
	&:hover {
		width: 5.2em;
		cursor: pointer;
	}
}