@use "../abstracts/globals";
@use "../abstracts/colors";
@use "../abstracts/breakpoints";
@use "../base/containers";
@use "../base/typography";
@use "../components/buttons";

#loginPageWrapper {
  width: 100vw;
  height: 100vh;
  background: url("mysite/static/mysite/images/booking-form-background.png"),
    -webkit-linear-gradient(bottom, colors.$darkRed, #b4b4b4);

  .back-to-home {
    position: absolute;
    top: 1em;
    left: 1em;

    @include breakpoints.breakpoint-up(medium) {
      top: 4em;
      left: 6em;
    }
    @include breakpoints.breakpoint-up(large) {
      top: 14%;
      left: 32%;
    }

    &__icon {
      font-size: 1em;
      transition: margin 500ms ease;
    }
    &__text {
      font-size: 0.9em;
      text-decoration: none;
      font-style: none;
      color: colors.$darkGray;
    }

    &:hover {
      cursor: pointer;
      .back-to-home__icon {
        margin-left: -0.4em;
      }
    }
  }

  .container {
    @extend %container-col--centered;

    .title {
      @extend %title;
      margin-top: 1.2em;
      margin-bottom: 0.4em;
      font-size: 3em;

      @include breakpoints.breakpoint-up(large) {
        margin-top: 3em;
      }
    }
    .login-form {
      @extend %container-col--centered;
      width: 100%;

      .form-control {
        padding: 0.6em;
        width: 94%;
        background-color: colors.$white;
        border-radius: 0.6em;
        border: 0.0625em solid colors.$gray;

        &:not(:last-of-type) {
          margin-bottom: 0.4em;
        }

        @include breakpoints.breakpoint-up(medium) {
          width: 44%;
        }
        @include breakpoints.breakpoint-up(large) {
          width: 24%;
        }
      }
      .button {
        @include buttons.submit-rounded;
        height: 2.6em;
        width: 94%;
        margin-top: 0.8em;
        margin-bottom: 0.6em;

        @include breakpoints.breakpoint-up(medium) {
          width: 44%;
        }
        @include breakpoints.breakpoint-up(large) {
          width: 24%;
        }
      }
    }
  }
}
