@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}
body {
  #bookingFormPageWrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("/static/mysite/images/booking-form-background.png"), -webkit-linear-gradient(bottom, $darkRed, #b4b4b4);
  }
}