@import "../../common/globals";
@import "../../common/mixins";

.services {
	background-image: url(/static/mysite/images/indexPage/services-background.jpg);
	background-size: cover;
	height: 100vh;
	color: $white;
	
	.container {
		position: relative;
		width: 100%;
		height: 100%;	
		overflow-x: hidden;
	}
	
	&__subtitle {
		@extend .subtitle;
	}
	&__slider {
		width: 74%;
		height: 64%;
		margin: 1em auto;
		overflow-x: hidden;
		scroll-snap-type: x mandatory;

		@include breakpoint-down(small) {
			overflow-x: auto;
		}
		
		.slides {
			display: grid;
			/* This is gonna make the slider scroll vertically
			width 5 columns of 2 items */
			grid-template-columns: repeat(5, 100%);
			grid-template-rows: 1fr;
			list-style: none;
			width: 100%;
			height: 100%;
			transition: margin-left 300ms ease;

			.slide {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				scroll-snap-align: start;
				
				.item {
					flex-grow: 1;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					
					background-color: rgba($darkGray, 0.8);
					border-radius: 0.4em;
					padding: 0.6em;
					max-height: 49%;
					
					&__title {
						@extend .subtitle;
						font-size: 1.4em;
					}
					&__description {
						font-size: 0.94em;
						color: rgba($white, 0.8);
					}
				}
			}
		}
		.navigation-button {
			position: absolute;
			border: none;
			border-radius: 0.2em;
			padding: 4.2em 0.6em;
			top: 41.5%;
			color: $white;
			background-color: rgba($darkGray, 0.9);
			
			&:hover {
				cursor: pointer;
				background-color: lighten(rgba($darkGray, 0.9), 10%);
	
			}
			&.left {
				left: 1.6em
			}
			&.right {
				right: 1.6em
			}
		}
	}
}