{% extends './base.html' %}
{% load static %}

{% block title %} Booking form {% endblock %}

{% block adicional_in_head %}
	<link rel="stylesheet" href="{% static 'mysite/styles/bookingForm/index.css' %}">

	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="{% static 'mysite/JavaScript/bookingForm/calendar.js' %}"></script>
	<script src="{% static 'mysite/JavaScript/bookingForm/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<header id="header">Booking Form</header>

	<div id="progress-bar">
		<div class="step">
			<p class="step__label">Services</p>
			<div class="step__bullet">
				<span class="num">1</span>
				<div class="check fas fa-check"></div>
			</div>
		</div>
		<div class="step">
			<p class="step__label">Date</p>
			<div class="step__bullet">
				<span class="num">2</span>
				<div class="check fas fa-check"></div>
			</div>
		</div>
		<div class="step">
			<p class="step__label">Payment</p>
			<div class="step__bullet">
				<span class="num">3</span>
				<div class="check fas fa-check"></div>
			</div>
		</div>
	</div>
	
	<div class="form-outer">
		<form class="form" action="#">
			<div id="selectService" class="form__page slide-page">
				<p class="hint">
					<i class="far fa-lightbulb"></i>Select the service:
				</p>
				
				<ul class="services">
					<li class="services__service">
						<label for="serv0">Classic Cut $30 - 30minutes</label>
						<input class="inputInf" type="radio" id="serv0" name="service" value="0">
					</li>
					<li class="services__service">
						<label for="serv1">Cut & Beard Trim $48 - 45min</label>
						<input class="inputInf" type="radio" id="serv1" name="service" value="1">
					</li>
					<li class="services__service">
						<label for="serv2">Skin Fade $40 - 45minutes</label>
						<input class="inputInf" type="radio" id="serv2" name="service" value="2">
					</li>
					<li class="services__service">
						<label for="serv3">Skin Fade & Beard Trim $55 - 1hr</label>
						<input class="inputInf" type="radio" id="serv3" name="service" value="3">
					</li>
					<li class="services__service">
						<label for="serv4">Long Cut $60 - 1hr</label>
						<input class="inputInf" type="radio" id="serv4" name="service" value="4">
					</li>
					<li class="services__service">
						<label for="serv5">Buzz $20 - 15min</label>
						<input class="inputInf" type="radio" id="serv5" name="service" value="5">
					</li>
					<li class="services__service">
						<label for="serv6">Buzz & Beard Trim $40 - 45min</label>
						<input class="inputInf" type="radio" id="serv6" name="service" value="6">
					</li>
					<li class="services__service">
						<label for="serv7">Beard Trim $20 - 30min</label>
						<input class="inputInf" type="radio" id="serv7" name="service" value="7">
					</li>
					<li class="services__service">
						<label for="serv8">Shave $33 - 30min</label>
						<input class="inputInf" type="radio" id="serv8" name="service" value="8">
					</li>
				</ul>
				
				<div class="btns">
					<button class="btns__btn next">Next</button>
				</div>
			</div>
			
			<div id="selectDate" class="form__page">
				<div class="field calendar">
					<p class="hint">
						<i class="far fa-lightbulb"></i> Select the day clicking on the calendar:
					</p>
					
					<div class="calendar__month">
						<button id="previousMonth" class="change-month">&#10094;</button>
						<button id="nextMonth" class="change-month">&#10095;</button>
						<span id="displayMonth"><!-- Will be generated by JS --></span>
						<span id="displayYear"><!-- Will be generated by JS --></span>
					</div>
					
					<ul class="calendar__weekdays">
						<li class="weekday">Mo</li>
						<li class="weekday">Tu</li>
						<li class="weekday">We</li>
						<li class="weekday">Th</li>
						<li class="weekday">Fr</li>
						<li class="weekday">Sa</li>
						<li class="weekday">Su</li>
					</ul>
					
					<div class="calendar__days">
						<!-- Will be generated by JS -->
					</div>
				</div>
				
				<p class="hint">
					<i class="far fa-lightbulb"></i> Select the period of the day:
				</p>
				<div class="multi-field">
					<div class="field">
						<label for="period0">Morning</label>
						<input class="inputInf" type="radio" id="period0" name="period" value="morning" checked>
					</div>
					
					<div class="field">
						<label for="period1">Afternoon</label>
						<input class="inputInf" type="radio" id="period1" name="period" value="afternoon">
					</div>
				</div>
				
				<div class="btns">
					<button class="btns__btn prev">Previous</button>
					<button class="btns__btn next">Next</button>
				</div>
			</div>
			
			<div id="paymentProcess" class="form__page">
				<p id="totalPrice">Total: 50$</p>
				<div class="field">
					<label for="cardName">Name on Card</label>
					<input 
					type="text" 
					name="cardName" 
					class="control" 
					id="cardName" 
					placeholder="John Doe"
					required
					>
				</div>
				
				<div class="field">
					<label for="cardNumber">Credit card number</label>
					<input 
					type="text" 
					name="cardNumber" 
					class="control" 
					id="cardNumber" 
					placeholder="1111-2222-3333-4444"
					>
				</div>
				
				<div class="field">
					<label for="expMonth">Exp month</label>
					<input 
					type="text" 
					name="expMonth" 
					class="control" 
					id="expMonth" 
					placeholder="October"
					required
					>
				</div>
				
				<div class="multi-field">
					<div class="field">
						<label for="expYear">Exp year</label>
						<input 
						type="text" 
						name="expYear" 
						class="control" 
						id="expYear" 
						placeholder="2020"
						required
						>
					</div>
					
					<div class="field">
						<label for="cvv">CVV</label>
						<input 
						type="text" 
						name="cvv" 
						class="control" 
						id="cvv" 
						placeholder="295"
						required
						>
					</div>
				</div>
				
				<div class="btns">
					<button class="btns__btn prev">Previous</button>
					<button class="btns__btn submit">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}
	