{% extends './base.html' %}
{% load static %}

{% block adicional_in_head %}
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript">
  // Global variables
  const userImagePath = "{% static 'mysite/images/indexPage/user.png' %}";
</script>
<script src="{% static 'mysite/JavaScript/indexPage/hamburgerMenu.js' %}"></script>
<script src="{% static 'mysite/JavaScript/indexPage/servicesSection.js' %}"></script>
<script src="{% static 'mysite/JavaScript/indexPage/feedbackInteractivity.js' %}"></script>
{% endblock %}

{% block content %}
<div id="indexPageWrapper">
  <div id="index" class="landing">
    <div class="motto">
      {% if user.is_authenticated %}
      <img class="motto__logo" src="{% static 'mysite/images/indexPage/user.png' %}" alt="">
      <p class="motto__text">{{ user.username }}</p>
      {% else %}
      <img class="motto__logo" src="{% static 'mysite/images/indexPage/moustache-white.png' %}" alt="">
      <p class="motto__text">Barber Shop</p>
      {% endif %}
    </div>

    <nav class="navbar">
      {% if user.is_authenticated %}
      <a class="navbar__item" href="{% url 'mysite:logout' %}">Logout</a>
      {% else %}
      <a class="navbar__item" href="{% url 'mysite:login' %}">Login</a>
      <a class="navbar__item" href="{% url 'mysite:register' %}">Register</a>
      {% endif %}

      <a class="navbar__item" href="{% url 'mysite:waiting_queue' %}">Queue</a>
      <a class="navbar__item" href="#services">Services</a>
      <a class="navbar__item" href="{% url 'mysite:booking_form' %}">Book Now</a>

      <div id="btnHamburger" class="navbar__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div id="menuForMobile" class="mobile-menu">
        {% if user.is_authenticated %}
        <a class="mobile-menu__item" href="{% url 'mysite:logout' %}">Logout</a>
        {% else %}
        <a class="mobile-menu__item" href="{% url 'mysite:login' %}">Login</a>
        <a class="mobile-menu__item" href="{% url 'mysite:register' %}">Register</a>
        {% endif %}

        <a class="mobile-menu__item" href="{% url 'mysite:waiting_queue' %}">Queue</a>
        <a class="mobile-menu__item" href="#services">Services</a>
        <a class="mobile-menu__item" href="{% url 'mysite:booking_form' %}">Book Now</a>
      </div>

      <div id="overlay"></div> <!-- used when press the hamburger menu -->
    </nav>
    <div class="presentation">
      <div>
        <h1 class="presentation__title">Barber Shop</h1>
        <p class="presentation__text">If you want to see what our barber shop is all about, don't hesitate to book an
          appointment.</p>
      </div>
      <img class="presentation__logo" src="{% static 'mysite/images/indexPage/logo-white.png' %}" alt="">
      <i class="fas fa-angle-double-down"></i>
    </div>
  </div>
  <div id="location" class="location">
    <div class="container">
      <h2 class="location__subtitle">Location</h2>
      <p class="location__text">Av. São Sebastião 999, Parnaíba, Brazil</p>
    </div>

    <img class="location__image" src="{% static 'mysite/images/indexPage/location-map.png' %}" alt="Location">

    <div class="container">
      <h3 class="location__subtitle">Hours</h3>
      <p class="location__text">
        Tues-Fri 9:00am-8:00pm <br>
        Sat 9:00am-3:00pm <br>
        Closed Sun
      </p>
    </div>
  </div>
  <div id="services" class="services">
    <h2 class="services__subtitle">The Menu</h2>

    <div id="slider" class="services__slider">
      <div id="slides" class="slides">
        {% for service in services %}
        <li id="serv{{ forloop.count }}" class="item">
          <h4 class="item__title">{{ service.title }}</h4>
          <p class="item__description">{{ service.description }}</p>
          <a class="book-now" href="{% url 'mysite:booking_form' service_id=service.id %}">Book</a>
        </li>
        {% endfor %}
      </div>

      <!-- Navigation buttons for larger devices designs -->
      <button id="navigationBtnLeft" class="navigation-button left">
        <i class="fas fa-chevron-left"></i>
      </button>

      <button id="navigationBtnRight" class="navigation-button right">
        <i class="fas fa-chevron-right"></i>
      </button>

      <!-- Navigation tracker used for mobile designs -->
      <div id="navigationTracker" class="navigationTracker">
        <span class="item item-active"></span>
        <span class="item"></span>
        <span class="item"></span>
        <span class="item"></span>
        <span class="item"></span>
        <span class="item"></span>
        <span class="item"></span>
        <span class="item"></span>
        <span class="item"></span>
      </div>
    </div>
  </div>
  <div id="feedback" class="feedback">
    <h2 class="feedback__subtitle">What our customers say about the service</h2>

    <div class="container">
      {% if user.is_authenticated %}
      <form id="submit-feedback-form" class="feedback-form" action="/submit-new-feedback/" method="post">
        {{ feedback_form.content }}
        <button type="submit" class="feedback-form-submit">Enter</button>
      </form>
      {% endif %}

      <div id="feedback-posts" class="feedback__posts">
        {% for user_feedback in user_feedbacks %}
        <div class="post">
          <img class="user-photo" src="{% static 'mysite/images/indexPage/user.png' %}" alt="user image">
          <div class="talk-bubble tri-right left-in">
            <div class="talktext">
              <p class="post__author">{{ user_feedback.author.name }} says</p>
              <p class="post__content">{{ user_feedback.content }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <button class="load-more-feedbacks">. . .</button>
    </div>
  </div>
  <div id="footer" class="footer">
    <div class="motto">
      <img class="motto__logo" src="{% static 'mysite/images/indexPage/moustache-white.png' %}" alt="">
      <p class="motto__text">Barber Shop</p>
    </div>

    <div class="social-icons">
      <i class="social-icons__icon fab fa-instagram-square"></i>
      <i class="social-icons__icon fab fa-facebook-square"></i>
      <i class="social-icons__icon fab fa-twitter-square"></i>
    </div>

    <div class="hours">
      <p class="title">hours</p>
      <p class="description">
        Tues-Fri 9:00am-8:00pm <br>
        Sat 9:00am-3:00pm <br>
        Closed Sun
      </p>
    </div>

    <div class="location">
      <p class="title">location</p>
      <p class="description">Av. São Sebastião 999, Parnaíba, Brazil</p>
    </div>

    <a class="staff-button" href="{% url 'controlqueue:restrict' %}">Staff area</a>

    <div class="copy">
      &copy;2021 Barber Shop
    </div>
  </div>
</div>
{% endblock %}