{% extends './base.html' %}
{% load static %}

{% block adicional_in_head %}
<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<script src="{% static 'mysite/JavaScript/indexPage/hamburgerMenu.js' %}"></script>
<script src="{% static 'mysite/JavaScript/indexPage/servicesSection.js' %}"></script>
{% endblock %}

{% block content %}
<div id="landing">
	<nav class="navbar">
		<div class="motto">
			<img class="motto__logo" src="{% static 'mysite/images/indexPage/moustache-black.png' %}" alt="">
			<p class="motto__text">Barber Shop</p>
		</div>
		<a class="navbar__item" href="#">Home</a>
		<a class="navbar__item" href="#">Queue</a>
		<a class="navbar__item" href="#">Services</a>
		<a class="navbar__item book-now" href="#">Book Now</a>

		<div id="btnHamburger" class="navbar__toggle">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<div id="menuForMobile" class="menu">
			<a class="menu__item" href="#">Home</a>
			<a class="menu__item" href="#">Queue</a>
			<a class="menu__item" href="#">Services</a>
			<a class="menu__item book-now--secondary" href="#">Book Now</a>
		</div>

		<div id="overlay"></div> <!-- used when press the hamburger menu -->
	</nav>
	<div class="presentation">
		<div>
			<h1 class="presentation__title">Barber Shop</h1>
			<p class="presentation__text">If you want to see what our barber shop is all about, don't hesitate to book an appointment.</p>
		</div>
		<img class="presentation__logo" src="{% static 'mysite/images/indexPage/logo-white.png' %}" alt="">
		<i class="fas fa-angle-double-down"></i>
	</div>
</div>
<div class="location">
	<div class="container--centered">
		<h2 class="location__subtitle">Location</h2>
		<p class="location__text">Av. São Sebastião 999, Parnaíba, Brazil</p>
	</div>
	
	<img class="location__image" src="{% static 'mysite/images/indexPage/location-map.png' %}" alt="Location">
	
	<div class="container--centered">
		<h3 class="location__subtitle">Hours</h3>
		<p class="location__text">
			Tues-Fri 9:00am-8:00pm <br>
			Sat 9:00am-3:00pm <br>
			Closed Sun
		</p>
	</div>
</div>
<div class="services">
	<div class="container--centered">
		<h2 class="services__subtitle">The Menu</h2>

		<button id="navigationBtnLeft" class="services__navigation-button left">
			<i class="fas fa-chevron-left"></i>
		</button>

		<div class="services__slider">
			<ul id="slides" class="slides">
				{% for service in services %}
				<li class="item">
					<h4 class="item__title">{{ service.title }}</h4>
					<p class="item__description">{{ service.description }}</p>
				</li>
				{% endfor %}
			</ul>
		</div>
		
		<button id="navigationBtnRight" class="services__navigation-button right">
			<i class="fas fa-chevron-right"></i>
		</button>
	</div>
</div>
{% endblock %}